*.o
*.so
*.bc

dbt2.log

/_builds

# vim
*.swp

# cmake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt

# cpack
_CPack_Packages/
*.Z
*.xz
*.gz
*.bz2

doc/dbt2-architecture.html
doc/dbt2-tpc.html
doc/dbt2-user-guide.html
