*.o
*.so

dbt2.log

bin/dbt2-client
bin/dbt2-datagen
bin/dbt2-driver
bin/dbt2-transaction-test

# vim
*.swp

# cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# cpack
_CPack_Packages/
*.Z
*.xz
*.gz
*.bz2

doc/dbt2-architecture.html
doc/dbt2-tpc.html
doc/dbt2-user-guide.html
